# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Notes graph metadata
_includes/notes_graph.json

# Obsidian config
.obsidian/

# Zettlr config
.ztr-directory

# Misc files we don't need in the repo
LICENSE
README.md